In [31]:
import scipy.io
import numpy as np
#Import data from MATLAB
abs_data = scipy.io.loadmat('Stats-Stroop STFT/absData.mat')
phase_data = scipy.io.loadmat('Stats-Stroop STFT/phaseData.mat')

Observations_disp_abs = abs_data['Observations_disp_abs'].squeeze()
Observations_speed_abs = abs_data['Observations_speed_abs'].squeeze()
Observations_xy_abs = abs_data['Observations_xy_abs'].squeeze()
Observations_xz_abs = abs_data['Observations_xz_abs'].squeeze()
Observations_yz_abs = abs_data['Observations_yz_abs'].squeeze()

Observations_disp_phase = phase_data['Observations_disp_phase'].squeeze()
Observations_speed_phase = phase_data['Observations_speed_phase'].squeeze()
Observations_xy_phase = phase_data['Observations_xy_phase'].squeeze()
Observations_xz_phase = phase_data['Observations_xz_phase'].squeeze()
Observations_yz_phase = phase_data['Observations_yz_phase'].squeeze()

grp_disp_abs = abs_data['grp_disp_abs'].squeeze()
grp_speed_abs = abs_data['grp_speed_abs'].squeeze()
grp_xy_abs = abs_data['grp_xy_abs'].squeeze()
grp_xz_abs = abs_data['grp_xz_abs'].squeeze()
grp_yz_abs = abs_data['grp_yz_abs'].squeeze()

grp_disp_phase = phase_data['grp_disp_phase'].squeeze()
grp_speed_phase = phase_data['grp_speed_phase'].squeeze()
grp_xy_phase = phase_data['grp_xy_phase'].squeeze()
grp_xz_phase = phase_data['grp_xz_phase'].squeeze()
grp_yz_phase = phase_data['grp_yz_phase'].squeeze()

Participants_disp_abs = abs_data['Participants_disp_abs'].squeeze()
Participants_speed_abs = abs_data['Participants_speed_abs'].squeeze()
Participants_xy_abs = abs_data['Participants_xy_abs'].squeeze()
Participants_xz_abs = abs_data['Participants_xz_abs'].squeeze()
Participants_yz_abs = abs_data['Participants_yz_abs'].squeeze()

Participants_disp_phase = phase_data['Participants_disp_phase'].squeeze()
Participants_speed_phase = phase_data['Participants_speed_phase'].squeeze()
Participants_xy_phase = phase_data['Participants_xy_phase'].squeeze()
Participants_xz_phase = phase_data['Participants_yz_phase'].squeeze()
Participants_yz_phase = phase_data['Participants_xz_phase'].squeeze()

In [34]:
#Welch's ANOVA: spostamento abs

import pingouin as pg
import pandas as pd

#create DataFrame
df = pd.DataFrame({'Abs_disp': Observations_disp_abs,
                   'phase': grp_disp_abs}) 

#perform Welch's ANOVA
pg.welch_anova(dv='Abs_disp', between='phase', data=df)

# Post-hoc Games-Howell

pg.pairwise_gameshowell(dv='Abs_disp', between='phase', data=df)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,0.914486,0.353195,0.561292,0.05776,9.717593,1260.385953,0.000000e+00,0.443372
1,1,3,0.914486,1.903721,-0.989235,0.10967,-9.020067,1506.972824,0.000000e+00,-0.411547
2,2,3,0.353195,1.903721,-1.550527,0.09807,-15.810396,1055.797759,3.421707e-13,-0.721360

In [36]:
#Welch's ANOVA: velocit√† abs

#create DataFrame
df = pd.DataFrame({'Obs': Observations_speed_abs,
                   'phase': grp_speed_abs}) 

#perform Welch's ANOVA
pg.welch_anova(dv='Obs', between='phase', data=df)

# Post-hoc Games-Howell

pg.pairwise_gameshowell(dv='Obs', between='phase', data=df)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,0.485406,0.383152,0.102254,0.022822,4.480428,1789.764870,2.358337e-05,0.204423
1,1,3,0.485406,1.874478,-1.389072,0.071861,-19.330074,1089.386933,0.000000e+00,-0.881948
2,2,3,0.383152,1.874478,-1.491326,0.070884,-21.038973,1034.557377,3.479439e-13,-0.959918

In [37]:
#Welch's ANOVA: xy abs

#create DataFrame
df = pd.DataFrame({'Obs': Observations_xy_abs,
                   'phase': grp_xy_abs}) 

#perform Welch's ANOVA
pg.welch_anova(dv='Obs', between='phase', data=df)

# Post-hoc Games-Howell

pg.pairwise_gameshowell(dv='Obs', between='phase', data=df)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,16.774389,13.587266,3.187123,0.847926,3.758726,1439.902597,5.206986e-04,0.171495
1,1,3,16.774389,48.361300,-31.586911,1.603576,-19.697792,1460.996278,0.000000e+00,-0.898725
2,2,3,13.587266,48.361300,-34.774035,1.468729,-23.676284,1103.908835,6.250556e-14,-1.080247

In [38]:
#Welch's ANOVA: xz  abs

#create DataFrame
df = pd.DataFrame({'Obs': Observations_xz_abs,
                   'phase': grp_xz_abs}) 

#perform Welch's ANOVA
pg.welch_anova(dv='Obs', between='phase', data=df)

# Post-hoc Games-Howell

pg.pairwise_gameshowell(dv='Obs', between='phase', data=df)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,21.476615,16.882618,4.593997,1.050011,4.375189,1773.922002,3.817220e-05,0.199621
1,1,3,21.476615,58.030400,-36.553785,2.232362,-16.374485,1268.314144,0.000000e+00,-0.747097
2,2,3,16.882618,58.030400,-41.147782,2.160841,-19.042488,1134.346766,3.187450e-13,-0.868827

In [39]:
#Welch's ANOVA: yz abs

#create DataFrame
df = pd.DataFrame({'Obs': Observations_yz_abs,
                   'phase': grp_yz_abs}) 

#perform Welch's ANOVA
pg.welch_anova(dv='Obs', between='phase', data=df)

# Post-hoc Games-Howell

pg.pairwise_gameshowell(dv='Obs', between='phase', data=df)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,15.982366,9.376083,6.606283,0.748465,8.826443,1390.379270,3.519407e-13,0.402713
1,1,3,15.982366,34.737553,-18.755187,1.353900,-13.852713,1526.871473,0.000000e+00,-0.632040
2,2,3,9.376083,34.737553,-25.361469,1.219816,-20.791225,1107.538178,2.385869e-13,-0.948614

In [40]:
#Welch's ANOVA: spostamento phase

import pingouin as pg
import pandas as pd

#create DataFrame
df = pd.DataFrame({'Abs_disp': Observations_disp_phase,
                   'phase': grp_disp_phase}) 

#perform Welch's ANOVA
pg.welch_anova(dv='Abs_disp', between='phase', data=df)

# Post-hoc Games-Howell

pg.pairwise_gameshowell(dv='Abs_disp', between='phase', data=df)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,-339.033480,-276.319436,-62.714043,10.331519,-6.070167,1842.058013,4.641999e-09,-0.276956
1,1,3,-339.033480,-965.100536,626.067056,24.038932,26.043880,1195.056752,1.597611e-13,1.188270
2,2,3,-276.319436,-965.100536,688.781099,23.583836,29.205643,1116.737553,0.000000e+00,1.332528

In [41]:
#Welch's ANOVA: velocit√† phase

#create DataFrame
df = pd.DataFrame({'Obs': Observations_speed_phase,
                   'phase': grp_speed_phase}) 

#perform Welch's ANOVA
pg.welch_anova(dv='Obs', between='phase', data=df)

# Post-hoc Games-Howell

pg.pairwise_gameshowell(dv='Obs', between='phase', data=df)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,-254.884611,-231.260489,-23.624122,7.859782,-3.005697,1899.236330,0.007563,-0.137137
1,1,3,-254.884611,-761.705319,506.820707,18.077123,28.036579,1178.475070,0.000000,1.279188
2,2,3,-231.260489,-761.705319,530.444830,17.906482,29.623063,1139.577949,0.000000,1.351573

In [42]:
#Welch's ANOVA: xy abs

#create DataFrame
df = pd.DataFrame({'Obs': Observations_xy_phase,
                   'phase': grp_xy_phase}) 

#perform Welch's ANOVA
pg.welch_anova(dv='Obs', between='phase', data=df)

# Post-hoc Games-Howell

pg.pairwise_gameshowell(dv='Obs', between='phase', data=df)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,-289.690840,-197.013857,-92.676983,8.375051,-11.065841,1672.601624,1.280087e-12,-0.504887
1,1,3,-289.690840,-712.238324,422.547484,18.233455,23.174297,1277.337137,0.000000e+00,1.057343
2,2,3,-197.013857,-712.238324,515.224468,17.481194,29.473070,1104.308097,0.000000e+00,1.344729

In [43]:
#Welch's ANOVA: xy abs

#create DataFrame
df = pd.DataFrame({'Obs': Observations_xz_phase,
                   'phase': grp_xz_phase}) 

#perform Welch's ANOVA
pg.welch_anova(dv='Obs', between='phase', data=df)

# Post-hoc Games-Howell

pg.pairwise_gameshowell(dv='Obs', between='phase', data=df)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,-284.026156,-222.588384,-61.437771,8.935863,-6.875415,1820.667716,2.546507e-11,-0.313696
1,1,3,-284.026156,-795.477440,511.451284,20.130438,25.406863,1218.824785,0.000000e+00,1.159206
2,2,3,-222.588384,-795.477440,572.889055,19.666525,29.130161,1123.110583,0.000000e+00,1.329084

In [44]:
#Welch's ANOVA: xy abs

#create DataFrame
df = pd.DataFrame({'Obs': Observations_yz_phase,
                   'phase': grp_xz_phase}) 

#perform Welch's ANOVA
pg.welch_anova(dv='Obs', between='phase', data=df)

# Post-hoc Games-Howell

pg.pairwise_gameshowell(dv='Obs', between='phase', data=df)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,-276.293256,-202.544369,-73.748888,8.397654,-8.782082,1749.539880,6.644685e-13,-0.400689
1,1,3,-276.293256,-744.721084,468.427827,18.492762,25.330334,1251.460768,2.361444e-13,1.155714
2,2,3,-202.544369,-744.721084,542.176715,17.891323,30.303891,1115.637973,6.689094e-13,1.382636